.Courses {
    padding: 60px 0;
    width: 80%;
    margin: auto;
}

.Courses nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Courses header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Search {
    margin-right: 20px;
}